SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=
# Seu usuario e senha postgres
DATABASE_URL=postgres://<user>:<senha>@localhost:5432/farmacia_db